/* Default value */
/* root */
:root {
  --primary-color: #2196f3;
  --hover-color: #188ce8;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --main-color: #212121;
  --paragraph-color: #757575;
  --background-slogan: #2f303a;
  --btn-color: #fff;
  --color-zsix: rgba(255, 255, 255, 0.6);
  --color-link: #757575;
  --color-active: #b93fd28f;
  --btn-bg-color: #f5f4fa;
  --card-set-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.typical-link {
  color: inherit;
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.current {
  color: var(--primary-color);
}

p {
  margin: 0;
  padding: 0;
  --paragraph-color: #757575;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: 100%;
}

.btn {
  background-color: var(--primary-color);
  color: var(--btn-color);
  font-family: Roboto;
  font-style: normal;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-color);
  color: var(--primary-color);
}

.link:hover,
.link:focus {
  color: var(--primary-color);
  background-color: var(--btn-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*and default style */

/*?HEADER */

.logo,
.logo:hover,
.logo:focus {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--primary-color);
}

.logoF,
.logoF:hover,
.logoF:focus {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}

.menu-link:hover,
.menu-link:focus,
.linkM:hover,
.linkM:focus,
.linkT:hover,
.linkT:focus {
  color: var(--primary-color);
}

.linkM,
.linkT {
  color: var(--color-link);
  font-weight: 500;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* header end */

/*?SLOGAN */

.slogan {
  background-color: var(--background-slogan);
  text-align: center;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.slogan-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
}

.slogan-button:hover,
.slogan-button:focus {
  color: var(--btn-color);
  background-color: var(--hover-color);
}

.slogan-button:active {
  background-color: var(--color-active);
  color: var(--btn-color);
}

/* slogan section end */

/*?MERITS */

.marits-trait {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.marits-info {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

/* marits section end */

/*?BUSINESS */

/*! reticle business*/

.business-direction {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.business-direction > .business-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/*! reticle business end */

.business-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

/* business section end */

/*? TEAM */

.team {
  background-color: var(--btn-bg-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-name:hover,
.team-name:focus,
.team-position:hover,
.team-position:focus {
  color: var(--primary-color);
}

.team-position {
  color: var(--paragraph-color);
}

/* team section end*/

/*?PORTFOLIO */

.portfolio-list-button {
  margin-bottom: 30px;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  background-color: var(--btn-bg-color);
  color: var(--main-color);
  border-radius: 4px;
  border-color: transparent;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--btn-color);
  background-color: var(--primary-color);
}

.portfolio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.portfolio-description:hover,
.portfolio-name:hover {
  color: var(--primary-color);
}

.btn-portfolio {
  font-weight: 500;
}

/* portfolio-pointers end */

/*?FOOTER */

.footer {
  background: var(--background-slogan);
}

.address {
  font-style: inherit;
  color: var(--btn-color);
}

.link-footer {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-zsix);
}
